@model Vidly.ViewModels.RentalFormViewModel

@{
	ViewBag.Title = "New Rental";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Rentals"))
{
	@Html.ValidationSummary(true, "Please fix the following errors")
	@Html.AntiForgeryToken()

	@Html.HiddenFor(model => model.CustomerID, new { id = "customer-id", @class = "form-control", data_rule_validCustomer = true })
	@Html.HiddenFor(model => model.MovieID, new { id = "movie-id", @class = "form-control", data_rule_validMovie = true })

	<div class="form-group">
		@Html.Label("Customer Name")
		<div class="tt-container">
			@Html.TextBox("Customer Name", null, new { id = "customer", @class = "form-control", data_rule_validCustomer = true, autocomplete = "off" })
		</div>
		@Html.ValidationMessageFor(model => model.CustomerID)
	</div>
	<div class="form-group">
		@Html.Label("Movie Name")
		<div class="tt-container">
			@Html.TextBox("Movie Name", null, new { id = "movie", @class = "form-control", data_rule_validMovie = true, autocomplete = "off" })
		</div>
		@Html.ValidationMessageFor(model => model.MovieID)
	</div>

	<button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
	<script src="/Content/Static/js/typeahead.min.js"></script>
	<script>
		$.validator.setDefaults
			({
				ignore: []
			});

		$.validator.addMethod("validCustomer", function ()
		{
			return $('#customer-id').val() !== "";
		});

		$.validator.addMethod("validMovie", function ()
		{
			return $('#movie-id').val() !== "";
		});

		$(document).ready(function ()
		{
			const movieSelectFunction = function (event, movie)
			{
				$('#movie-id').val(movie.id);
				$('#movie-id').valid();
				$('#movie').valid();
			}

			// Initialize the typeahead plugin
			typeAheadModule.initializeApiTypeAheadWithQuery('movie', '/api/movies?query=%QUERY', '%QUERY', 'movies', 'name', 3, 'movie', movieSelectFunction);

			const customerSelectFunction = function (event, customer)
			{
				$('#customer-id').val(customer.id);
				$('#customer-id').valid();
				$('#customer').valid();
			}

			// Initialize the typeahead plugin
			typeAheadModule.initializeApiTypeAheadWithQuery('customer', '/api/customers?query=%QUERY', '%QUERY', 'customers', 'name', 3, 'customer', customerSelectFunction);
		});
	</script>
}