@using Vidly.Models
@model Vidly.ViewModels.MovieFormViewModel

@{
	ViewBag.Title = "Movie Form";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Model.Movie == null ? "New Movie" : "Edit Movie")</h2>


@using (Html.BeginForm("Save", "Movies"))
{
	@Html.HiddenFor(model => model.Movie.ID)


	if (Model.Movie == null)
	{
		@Html.HiddenFor(model => model.Movie.DateAdded, new { Value = DateTime.Now })
	}
	else
	{
		@Html.HiddenFor(model => model.Movie.DateAdded)
	}

	<div class="form-group">
		@Html.LabelFor(model => model.Movie.Name)
		@Html.TextBoxFor(model => model.Movie.Name, new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Movie.ReleaseDate)
		@Html.TextBoxFor(model => model.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Movie.GenreID)
		@Html.DropDownListFor(
			model => model.Movie.GenreID,
			new SelectList(Model.Genres, nameof(Genre.ID), nameof(Genre.Name)), string.Empty, new { @class = "form-control" }
			)
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Movie.NumberInStock)
		@Html.TextBoxFor(model => model.Movie.NumberInStock, new { @class = "form-control" })
	</div>

	<button type="submit" class="btn btn-primary">Save</button>
}
