@model Vidly.Models.RegisterViewModel

@{
	ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "register-form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "Please fix the following errors")

	<div class="form-group">
		@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.UserName)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Email)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Password)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.ConfirmPassword)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBox("phone-number", string.Empty, new { @class = "form-control" })
			@Html.HiddenFor(m => m.PhoneNumber)
			@Html.ValidationMessageFor(m => m.PhoneNumber)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.FiscalNumber, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.FiscalNumber, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.FiscalNumber)
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Register" />
		</div>
	</div>
}

@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		$(document).ready(function()
		{
			var form = $("#register-form");
			var phoneNumber = $("#phone-number");
			var hiddenPhoneNumber = $("#PhoneNumber");

			phoneNumber.telephoneInput
			({
				initialCountry: "auto",
				geoIpLookup: function(callback)
				{
					if ($("#phone-number-extension").val() === "")
					{
						jQuery.get("https://ipinfo.io", function() {}, "jsonp").always(function(response)
						{
							var countryCode = (response && response.country) ? response.country : "pt";
							callback(countryCode);
						});
					}
				},
				utilsScript: "../Scripts/telephone-input-utils.js"
			});

			phoneNumber.telephoneInput("setNumber", hiddenPhoneNumber.val());

			//if (hiddenPhoneNumber.val() !== "")
			//	phoneNumber.telephoneInput("setNumber", hiddenPhoneNumber.val());

			form.submit(function()
			{
				hiddenPhoneNumber.val(phoneNumber.telephoneInput("getNumber"));

				return true;
			});
		});
	</script>
}