@using Vidly.Controllers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	@Styles.Render("~/bundles/css")
	@RenderSection("styles", required: false)
</head>
<body>

	@Html.Partial("_NavBar")

	<div class="body">
		<div class="container body-content">
			<h2>@ViewBag.Title</h2>
			<hr />
			@RenderBody()
		</div>
	</div>

	@Html.Partial("_Footer")

	@Scripts.Render("~/bundles/js")
	@RenderSection("scripts", required: false)

	<script>
		$(document).ready(function()
		{
			@{
				this.TempData.TryGetValue(BaseController.MessageKey, out var message);
				this.TempData.TryGetValue(BaseController.MessageTypeKey, out var messageType);

				if (string.IsNullOrWhiteSpace(message as string) == false && string.IsNullOrWhiteSpace(messageType as string) == false)
				{
					if ((string)messageType == BaseController.MessageTypeSuccess)
					{
						<text>alertify.success('@Html.Raw(message)', { closeButton: true, allowHtml: true });</text>
					}
					if ((string)messageType == BaseController.MessageTypeWarning)
					{
						<text>alertify.warning('@Html.Raw(message)', { closeButton: true, allowHtml: true });</text>
					}
					if ((string)messageType == BaseController.MessageTypeError)
					{
						<text>alertify.error('@Html.Raw(message)', { closeButton: true, allowHtml: true });</text>
					}
				}
			}
		});
	</script>
</body>
</html>