@model Vidly.ViewModels.UserViewModel

@{
	ViewBag.Title = Model.User.UserName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Fiscal Number</b></h4>
@Model.User.FiscalNumber

<h4><b>Email</b></h4>
<span class="@(Model.User.EmailConfirmed ? "confirmed-contact" : "unconfirmed-contact")" data-toggle="tooltip" title="The email is @(Model.User.EmailConfirmed ? "confirmed" : "unconfirmed").">@Model.User.Email</span>

<h4><b>PhoneNumber </b></h4>
<span class="@(Model.User.PhoneNumberConfirmed ? "confirmed-contact" : "unconfirmed-contact")" data-toggle="tooltip" title="The phone number is @(Model.User.PhoneNumberConfirmed ? "confirmed" : "unconfirmed")." id="phone-number">@Model.User.PhoneNumber</span>

<h4><b>Two Factor</b></h4>
<span class="@(Model.User.TwoFactorEnabled ? "confirmed-contact" : "unconfirmed-contact")"> @(Model.User.LockoutEnabled ? "Enabled" : "Disabled")</span>

<h4><b>Roles</b></h4>
<ul>
	@foreach (string role in Model.UserRoles)
	{
		<li>@role</li>
	}
</ul>