@using Vidly.ViewModels

@model UserViewModel


@{
	ViewBag.Title = Model.User.UserName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<hr />

<h4><b>Fiscal Number</b></h4>
@Model.User.FiscalNumber

<h4><b>Email</b></h4>
<span class="@(Model.User.EmailConfirmed ? "confirmed-contact" : "unconfirmed-contact")" data-toggle="tooltip" title="The email is @(Model.User.EmailConfirmed ? "confirmed" : "unconfirmed").">@Model.User.Email</span>

<h4><b>PhoneNumber </b></h4>
<span class="@(Model.User.PhoneNumberConfirmed ? "confirmed-contact" : "unconfirmed-contact")" data-toggle="tooltip" title="The phone number is @(Model.User.PhoneNumberConfirmed ? "confirmed" : "unconfirmed").">@Model.User.PhoneNumber</span>

<h4><b>Lockout </b></h4>
<span class="@(Model.User.LockoutEndDateUtc == null ? "confirmed-contact" : "unconfirmed-contact")" data-toggle="tooltip" title="@(Model.User.LockoutEndDateUtc == null ? "Unlocked" : $"Locked until {Model.User.LockoutEndDateUtc}").">@(Model.User.LockoutEnabled ? "Enabled" : "Disabled")</span>

<h4><b>Roles</b></h4>
<ul>
	@foreach (string role in Model.UserRoles)
	{
		<li>@role</li>
	}
</ul>